<mat-card class="bottom-sheet-elev mat-elevation-z" style="height:100%;padding:0px">
    <span class="player-progress-bar" [ngClass]="(playerService.paused |async) ? 'paused' : 'playing'">
        <mat-progress-bar value="{{(playerService.position | async) * 100}}" style="width:100%"></mat-progress-bar>
    </span>
    <div fxLayout="row" style="height:100%;padding-left:24px;padding-right:8px" fxLayoutAlign="center center">
        <div *ngIf="(playerService.loading | async)" fxFlex="none">
            <mat-progress-spinner mode="indeterminate" [diameter]="24" [strokeWidth]="3" style="margin-left:-8px;margin-right:8px"></mat-progress-spinner>
        </div>
        <div fxFlex="grow">
            <div style="font-weight:600;margin-bottom:6px">{{ (playingTrack | async)?.name }}</div>
            <div>{{ (artistStr | async) }}</div>
        </div>
        <div fxFLex="none" class="bottom-sheet-button">
            <button (click)="playerService.togglePausePlay()" mat-icon-button>
                <mat-icon *ngIf="(playerService.paused |async); else pause" class="fa fa-fw fa-play" aria-label="Play"></mat-icon>
                <ng-template #pause>
                    <mat-icon class="fa fa-fw fa-step-pause" aria-label="Pause"></mat-icon>
                </ng-template>
            </button>
        </div>
        <div fxFLex="none" class="bottom-sheet-button">
            <button mat-icon-button (click)="playerService.playerQueue.playNextTrack()">
                <mat-icon class="fa fa-fw fa-step-forward" aria-label="Next Track"></mat-icon>
            </button>
        </div>
    </div>

</mat-card>