<mat-list>
    <h3 matSubheader>Benachrichtigungen</h3>
    <mat-list-item style="height: auto">
        <div style="flex-direction: column" [ngSwitch]="(pushStatusObs | async)">
            <button mat-raised-button color="primary" [disabled]="(pushButtonDisable | async)" (click)="pushToggle()">
                <span *ngSwitchCase="PushStatus.NOT_AVALABLE">Benachrichtigungen nicht verfügbar</span>
                <span *ngSwitchCase="PushStatus.ENABLED">Benachrichtigungen deaktivieren</span>
                <span *ngSwitchCase="PushStatus.DISABLED">Benachrichtigungen aktivieren</span>
                <span *ngSwitchCase="PushStatus.DENIED">Benachrichtigungen blockiert</span>
            </button>
            <div style="padding-top: 4px">
                <span class="settings-warn-text" *ngSwitchCase="PushStatus.DISABLED">
                    <ng-container *ngIf="(pushHasErrored | async) > 0" [ngSwitch]="(pushHasErrored | async)">
                        <span *ngSwitchCase="1">Fehler beim Verbinden mit dem Server</span>
                        <span *ngSwitchCase="2">Fehler vom Benachrichtigungsdienst. In einigen Mobilfunknetzen funktioniert das Aktivieren nicht. Versuch es mal mit WLAN</span>
                    </ng-container>
                </span>
                <span class="settings-warn-text" *ngSwitchCase="PushStatus.NOT_AVALABLE">Ihr Browser unterstützt Benachrichtigungen nicht.
                    <a target="_blank" href="https://caniuse.com/#feat=push-api">Alternativen...</a>
                </span>
                <span class="settings-warn-text" *ngSwitchCase="PushStatus.DENIED">
                    Um Benachrichtigungen zu aktivieren, in der Addresszeile die Website-Einstellungen öffnen und Benachrichtigungen erlauben
                </span>
            </div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Filter</h3>
    <mat-list-item>
        FooBAr
    </mat-list-item>
</mat-list>