<mat-list class="settings-list">
    <h3 matSubheader>Benachrichtigungen</h3>
    <mat-list-item>
        <div style="flex-direction: column" [ngSwitch]="(pushStatusObs | async)">
            <div>Wenn aktiviert bekommst du Benachrichtigungen, wenn sich der Vertretungsplan bezüglich deiner Filter ändert.</div>
            <button mat-raised-button color="primary" [disabled]="(pushButtonDisable | async)" (click)="pushToggle()">
                <span *ngSwitchCase="PushStatus.NOT_AVALABLE">Benachrichtigungen nicht verfügbar</span>
                <span *ngSwitchCase="PushStatus.ENABLED">Benachrichtigungen deaktivieren</span>
                <span *ngSwitchCase="PushStatus.DISABLED">Benachrichtigungen aktivieren</span>
                <span *ngSwitchCase="PushStatus.DENIED">Benachrichtigungen blockiert</span>
            </button>
            <div style="padding-top: 4px">
                <span class="settings-warn-text" *ngSwitchCase="PushStatus.DISABLED">
                    <ng-container *ngIf="(pushHasErrored | async) > 0" [ngSwitch]="(pushHasErrored | async)">
                        <span *ngSwitchCase="1">Fehler beim Verbinden mit dem Server</span>
                        <span *ngSwitchCase="2">Fehler vom Benachrichtigungsdienst</span>
                    </ng-container>
                </span>
                <span class="settings-warn-text" *ngSwitchCase="PushStatus.NOT_AVALABLE">Dein Browser unterstützt Benachrichtigungen nicht.
                    <a target="_blank" href="https://caniuse.com/#feat=push-api">Alternativen...</a>
                </span>
                <span class="settings-warn-text" *ngSwitchCase="PushStatus.DENIED">
                    Um Benachrichtigungen zu aktivieren, in der Addresszeile die Website-Einstellungen öffnen und Benachrichtigungen erlauben
                </span>
            </div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Filter</h3>
    <mat-list-item>
        <div style="width: 100%">
            <mat-list class="selected-filter-list" *ngIf="(selectedFilters | async).length > 0">
                <ng-container *ngFor="let filter of (selectedFilters | async); trackBy: trackBy">
                    <mat-list-item>
                        <div style="flex:1 1">{{ filter }}</div>
                        <button mat-icon-button style="flex:0 0 48px" (click)="removeFilter(filter)">
                            <mat-icon class="fa fa-fw fa-times" aria-label="Entfernen"></mat-icon>
                        </button>
                    </mat-list-item>
                    <mat-divider style="position: initial"></mat-divider>
                </ng-container>
            </mat-list>
            <div style="text-align: center">
                <mat-form-field>
                    <mat-select #select placeholder="Filter hinzufügen..." (selectionChange)="addFilter(select)">
                        <mat-option *ngFor="let filter of SELECTABLE_FILTERS; trackBy: trackBy" value="{{ filter }}" [disabled]="(selectedFilters | async).includes(filter)">
                            {{ filter }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-list-item>
</mat-list>