mat-list.settings-list > mat-list-item {
    height: auto;
}

mat-list.selected-filter-list {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    padding-top: 0;
}

