<p></p>
  <table class="TabelleMitteilung" caption="Mitteilung">
    <caption class="TitelTabelleMitteilung">Mitteilungen:</caption>
    <td>{{ (planObs | async)?.messages }}</td>
  </table>
<p></p>
  <div class="WrapperTabelleVertretungen">
  <table class="TabelleVertretungen">
    <tr class="TitelZeileTabelleVertretungen">
      <td class="TitelZelleTabelleVertretungen">Klasse</td>
      <td class="TitelZelleTabelleVertretungen">Std</td>
      <td class="TitelZelleTabelleVertretungen">Lehrer</td>
      <td class="TitelZelleTabelleVertretungen">Vertretung</td>
      <td class="TitelZelleTabelleVertretungen">statt</td>
      <td class="TitelZelleTabelleVertretungen">Raum</td>
      <td class="TitelZelleTabelleVertretungen">Sonstiges</td>
    </tr>
    <tr class="ZeileTabelleVertretungen" *ngFor="let substitute of (planObs | async)?.substitutes; trackBy: trackBy">
      <td class="ZelleTabelleVertretungen">{{ substitute.classText }}</td>
      <td class="ZelleTabelleVertretungen">{{ substitute.lesson }}</td>
      <td class="ZelleTabelleVertretungen">{{ substitute.teacher }}</td>
      <td class="ZelleTabelleVertretungen">{{ substitute.substitute }}</td>
      <td class="ZelleTabelleVertretungen">{{ substitute.insteadOf }}</td>
      <td class="ZelleTabelleVertretungen">{{ substitute.room }}</td>
      <td class="ZelleTabelleVertretungen">{{ substitute.extra }}</td>
    </tr>
  </table>
</div>
<p></p>
