<p>Online: {{ (isOnline | async) }}</p>
<p>Ladevorgang: {{ (loading | async) }}</p>
<p>Letztes Update: {{ (lastUpdate | async) }}</p>
<div class="row">
    <mat-nav-list>
        <mat-list-item [ngClass]="{'blink': (blink[wd] | async), 'outdated': (outdated[wd] | async)}"  *ngFor="let wd of weekDays; trackBy: trackBy" (click)="onclick(wd)">
            <h4 mat-line>{{ (firstLines[wd] | async) }}</h4>
            <p mat-line>{{ (secondLines[wd] | async) }}</p>
        </mat-list-item>
    </mat-nav-list>
</div>