<!doctype html>
<html class="no-js" lang="en" dir="ltr" manifest="./manifest.appcache">
<head>
    <base href="./" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vertretungsplan GH</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Vertretungsplan GH">
    <link rel="apple-touch-icon" href="<%= require('./content/images/icon-64x64.png').substr(1) %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./content/images/icon-256x256.png').substr(1) %>">
    <script>
        var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
        document.getElementsByTagName('head')[0].appendChild(l); };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
              webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(cb);
        else window.addEventListener('load', cb);
        if (/^((?!chrome|android).)*safari/i.test(navigator.userAgent)) {
            var s = document.createElement('script');
            s.src = 'https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js';
            document.getElementsByTagName('head')[0].appendChild(s);
            function loaded() {
                if (typeof FastClick === 'undefined') {
                    setTimeout(loaded, 100);
                    return;
                }
                FastClick.attach(document.body);
            }
            loaded();
        }
    </script>
</head>
    <body>
        <app-main></app-main>
        <noscript>
           <h1>You must enable javascript to view this page.</h1>
        </noscript>
    </body>
</html>
